<nav>
  <ul>
    <li routerLinkActive="activo" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/">Home</a>
    </li>
    <li routerLinkActive="activo">
      <a routerLink="/contacto">Contacto</a>
    </li>
    <li routerLinkActive="activo">
      <a routerLink="/quienessomos">Quienes somos</a>
    </li>
    <li routerLinkActive="activo">
      <a routerLink="/coches">Coches</a>
    </li>
    <li routerLinkActive="activo">
      <a routerLink="/coches/seat/ibiza">Seat Ibiza</a>
    </li>
    <li routerLinkActive="activo">
      <a routerLink="/coches/ford/focus">Ford Focus</a>
    </li>
  </ul>
</nav>
<section>
  <router-outlet></router-outlet>
</section>